.root {
    -bg-color: #222327;
    -white: #e2e2e3;
    -yellow: #e7c664;
    -green: #9ed072;
    -orange: #f39660;
    -purple: #b39df3;
    -blue: #76cce0;
    -red: #dc3b5a;
    -gray_dim: #594f6f;
    -gray: #7f8490;
    -gray0: #2c2e34;

    -fx-background-color: -bg-color;
    -fx-stroke: -white;
}

.label {
    -fx-text-fill: -white;
}

.text {
    -fx-fill: -white;
    -fx-text-fill: -white;
}

.button {
    -fx-fill: -red;
    -fx-background-color: -red;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.text-field {
    -fx-background-color: -gray0;
    -fx-text-fill: -white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.text-area {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-text-fill: -white;
}

.text-area .scroll-pane .content {
    -fx-background-color: -gray0;
    -fx-text-fill: -white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: -gray0;
    -fx-text-fill: -white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.text-area .scroll-pane {
    -fx-background-color: -gray0;
    -fx-text-fill: -white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.choice-box {
    -fx-background-color: -gray0;
    -fx-text-fill: -white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.time-picker, .date-picker {
    -fx-background-color: -gray0;
    -fx-text-fill: -white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.date-picker .day-cell {
    -fx-background-color: -gray0;
    -fx-text-fill: -white;
}

.date-picker .day-cell {
    -fx-background-color: -gray0;
    -fx-text-fill: -white;
    -fx-padding: 10px;
    -fx-font-size: 12px;
}
.date-picker .calendar-header {
    -fx-background-color: -gray0;
    -fx-border-radius: 10px;
    -fx-border-color: -gray;
}

.date-picker .day-cell.today {
    -fx-background-color: -gray;
    -fx-text-fill: -white;
}

.date-picker .day-cell:hover {
    -fx-background-color: -purple;
}

.date-picker .day-cell:selected {
    -fx-background-color: -gray-dim;
}

.date-picker .popup {
    -fx-background-color: -bg-color;
    -fx-border-radius: 10px;
    -fx-border-color: -gray;
}

.date-picker .calendar-header {
    -fx-background-color: -gray_dim;
    -fx-text-fill: -white;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.date-picker .calendar-header .button {
    -fx-background-color: transparent;
    -fx-text-fill: -white;
    -fx-border-color: -gray;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.date-picker-popup > .month-year-pane {
    -fx-base: -gray;
}

.calendar-grid {
    -fx-background-color: -gray_dim;
}

#prev_month_button, #next_month_button, #today_button {
    -fx-background-color: -gray0;
    -fx-border-color: -gray;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

#month_text, #year_text {
    -fx-fill: -white;
}